


.container{
    width: 400px;
    height: 500px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 200px;
    height: 300px;
    border: 1px solid black;
    background-color: red;
    text-align: center;
    background-image: linear-gradient(125deg,red,blue);
    transition: transform 1s ease;
}

.card:hover{
    box-shadow: -10px 10px 20px gray,
                 10px 10px 20px skyblue;

    transform: translateX(20px);   
    transform: scale(1.1);
    transform: rotate(999deg);          

}